<div class="settings-layout">
    <div class="settings-section">
        <h3>Магазин наемников</h3>
        <div class="bestiary-table-wrapper">
            <table class="bestiary-table unit-info-table">
                <thead>
                    <tr>
                        <th class="icon-cell">👤</th>
                        <th>Имя</th>
                        <th>ID</th>
                        <th>Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="adventure-shop-table">
                    <tr><td colspan="5">Загрузка...</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
