<div id="fight-screen" class="screen" style="display: none !important;">
    <div class="menu-bar">
        <div class="menu-left">
            <button class="btn" onclick="backToIntroFromFight()">Главная</button>
        </div>
    </div>
    <div class="settings-container">
        <div class="settings-content">
            <h2>⚔️ Схватка</h2>
            <div id="fight-config-panel"></div>
            <div style="display: flex; gap: 20px; justify-content: center; margin-top: 10px;">
                <button class="btn btn-w-250 fs-115em" id="battle-btn" onclick="startBattle()" disabled>🚩 Начать бой! 🚩</button>
            </div>
        </div>
    </div>
</div>
